body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f9fafb;
  color: #333;
}
header {
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}
a:link {
  color: blue;       /* default color for unvisited links */
  text-decoration: none;
}
a:visited {
  color: #2563eb;     /* color for links already visited */
}
a:hover {
  color: red;        /* color when hovering */
  text-decoration: underline;
}
a:active {
  color: orange;     /* color when clicking */
}
.anchor-tag{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.anchor {
  background-color: white;
  color: #2563eb;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #2563eb;
  font-weight: bolder;
}
.anchor:hover{
  background-color: rgb(39, 38, 38);
  border: solid 1px #facc15;
}
h2 {
  color: #2563eb;
  display: inline-block;
  margin-bottom: 1rem;
}
span {
  color: #facc15;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center; 
  list-style: none;
  color: #2563eb;
  padding: 0;
}
.col {
  flex: 1 1 200px;
  background-color: #facc15;
  padding: 1rem;
}
.li{
    text-align: left;
    color: #111827;
}
li.bul{
    margin-left: 3rem;
}
footer {
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
